@import 'drawer.styl'
@import 'search.styl'
@import 'media.styl'
@import 'nav.styl'

:root {
    --container-width 40rem
    --search-border-radius 2rem
    --search-font 1.2rem
    --search-padding 0.9rem
    --search-engine-color #909090
    --search-tri 0.7rem
    --color-blackbg rgba(0, 0, 0, 0.5)
    --color-main #ff3f81
    --color-darker darken(@--color-main, 30%)
    --color-reverse #fff
    --color-reverse-sub #4e4e4e
}

body {
    margin 0
    overflow-y hidden
    font-family 'Microsoft Yahei', sans-serif
    background-color #333
}

button {
    border none
    background-color transparent
    cursor pointer
}

ul {
    margin 0
    padding 0
}

li {
    list-style-type none
}

input, select, textarea {
    outline none
}

.bg {
    position fixed
    top 0
    bottom 0
    margin 0
    background-size cover
    width 100%
}

.container {
    margin 0 auto
    position relative
    max-width var(--container-width)
}

/* -----------------设置按钮----------------- */
.gear {
    position fixed
    top 0
    left 0
    margin 1rem
    padding 0
    color var(--color-darker)

    svg:hover {
        transition color 0.5s
        animation turn 1s linear infinite
        color var(--color-reverse)
    }
}

.page {
    height 100vh
    position relative
}

.show {
    opacity 1
    animation show 0.5s cubic-bezier(0.76, 0.05, 0.86, 0.06) 1
}

.hidden {
    opacity 0
    animation hidden 0.5s cubic-bezier(0.22, 0.61, 0.36, 1) 1
}

/* -----------------下拉箭头----------------- */
.button-arrow {
    position absolute
    bottom 2rem
    color var(--color-reverse)
    transform translateX(-50%)
    margin-left 50%
    cursor pointer
    opacity 0.5
    transition color 0.5s

    svg {
        width 40px
        height @width
    }
}

.to-nav:hover {
    opacity 1
    animation tonav 1s ease-out infinite
}

.to-search:hover {
    opacity 1
    animation tosearch 1s ease-out infinite
}

/* -----------------动画----------------- */
@keyframes turn {
    0% {
        transform rotate(0deg)
    }

    25% {
        transform rotate(90deg)
    }

    50% {
        transform rotate(180deg)
    }

    75% {
        transform rotate(270deg)
    }

    100% {
        transform rotate(360deg)
    }
}

@keyframes tonav {
    0% {
        bottom 2rem
    }

    100% {
        bottom 1rem
    }
}

@keyframes tosearch {
    0% {
        bottom 1rem
    }

    100% {
        bottom 2rem
    }
}

@keyframes hidden {
    0% {
        opacity 1
    }

    100% {
        opacity 0
    }
}

@keyframes show {
    0% {
        opacity 0
    }

    100% {
        opacity 1
    }
}

/* -----------------时间----------------- */
/* latin */
@font-face {
    font-family 'Fjalla One'
    font-style normal
    font-weight 400
    src url('./Fjalla_One.woff2') format('woff2')
    unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

.timebar {
    padding 1rem
    width 17%
    color var(--color-reverse)
    font-size 1rem
    user-select none
    position fixed
    margin-left 50%
    transform translateX(-50%)

    &__time, &__date, &__week {
        width 100%
        text-align justify
        text-align-last justify
        font-family 'Fjalla One'
    }

    &__hr {
        background var(--color-reverse)
        height 2px
    }
}
