
/* -----------------响应式----------------- */
/* 小屏幕 */
@media screen and (max-width 750px) {
    .timebar__time {
        font-size 3em
    }

    .timebar__date {
        font-size 1.3em
    }

    .timebar__week {
        font-size 1.8em
    }

    .searchbar-list ul {
        grid-template-columns 1fr 1fr 1fr 1fr
    }

    .nav ul {
        grid-template-columns 1fr 1fr
    }
}

/* 大屏幕 */
@media screen and (min-width 750px) {
    .timebar__time {
        font-size 5em
    }

    .timebar__date {
        font-size 2em
    }

    .timebar__week {
        font-size 3em
    }

    .searchbar-list ul {
        grid-template-columns 1fr 1fr 1fr 1fr 1fr 1fr
    }

    .nav ul {
        grid-template-columns 1fr 1fr 1fr 1fr
    }
}