.page-nav {
    bottom -300px
}

.nav {
    padding 0.5rem 1rem

    ul {
        display grid
        width 100%
        gap 1rem
    }

    li a {
        color var(--color-reverse)
        text-decoration none
        cursor pointer
        padding 0.3rem 0.5rem
        background #000
        display flex
        align-items center
        justify-content center
        transition 0.2s
        color var(--color-reverse)
        user-select none
        height 100%
        font-size 15px

        &:active {
            background #888
        }

        &:hover {
            background var(--color-main)
        }

        svg {
            margin-right 10px
        }
    }
}
