/* -----------------时间----------------- */
.timebar {
    margin 0 auto
    padding 1rem
    width 50%
    min-width 14rem
    color var(--color-reverse)
    font-size 1rem

    &__time, &__date, &__week {
        width 100%
        text-align justify
        text-align-last justify
        font-family serif
    }

    &__hr {
        background var(--color-reverse)
        height 2px
    }
}

/* -----------------响应式----------------- */
/* 小屏幕 */
@media screen and (max-width 750px) {
    .timebar__time {
        font-size 3em
    }

    .timebar__date {
        font-size 1.3em
    }

    .timebar__week {
        font-size 2em
    }

    .searchbar-list ul {
        grid-template-columns 1fr 1fr 1fr 1fr
    }
}

/* 大屏幕 */
@media screen and (min-width 750px) {
    .timebar__time {
        font-size 5em
    }

    .timebar__date {
        font-size 2em
    }

    .timebar__week {
        font-size 3em
    }

    .searchbar-list ul {
        grid-template-columns 1fr 1fr 1fr 1fr 1fr 1fr
    }
}